body {
    margin: 0;
    background-color: #5ad94c;
}

canvas {
    position: fixed;
    inset: 0;
    background-color: #000;
}

form {
    margin-top: 200px;
}

h1 {
    color: white;
    font-weight: bolder;
    position: fixed;
    top: 40px;
    z-index: 1000778175576;
    left: 60px;
}

button {
    background-color: goldenrod;
    border: none;
    border-radius: 8px;
    height: 20px;
    
}
#animated-heading {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    color: white;
}